#header-container
  width: 100%
  position: fixed
  background-color: transparent
  #main-header
    display: flex
    align-items: center
    justify-content: space-between
    margin: 0 auto
    border-bottom: 1px solid #d5d5d5
    width: 100%
    max-width: 1080px
    padding: .5rem
    font-weight: 100
    a
      text-decoration: none
    #main-logo
      font-family: Dorsa,Arial,sans-serif
      font-size: 3.5rem
      color: #666
      letter-spacing: 0.15rem
      text-transform: capitalize
      &::first-letter
        font-size: 7rem

    #header-elements
      display: flex
      span, a
        font-family: Radley, serif
        padding: 0 10px
        color: #666
      .welcome
        border-right: 1px solid #d5d5d5
        font-style: italic
      .messages
        border-left: 1px solid #d5d5d5
      nav a
        &.active
          font-style: italic
        &:hover
          color: black




