<section>
  <p-carousel [value]="trips!" [numVisible]="3" [numScroll]="3" [responsiveOptions]="responsiveOptions">
    <ng-template let-trip pTemplate="item">
      <div *ngIf="trip.hash!=='New Trip'" class="trip" (click)="openTrip(trip.hash)">
        <figure class="trip-img"><img alt="Trip image" loading=lazy src="{{trip.image}}"></figure>
        <p class="status">{{trip.visibilityStatus}}</p>
        <h3 class="title">{{trip.title}}</h3>
        <p class="details">{{trip.arrivalDate | date:'MMMM dd'}} to {{trip.departureDate | date:'MMMM dd'}}</p>
        <p class="details">{{trip.adults + trip.infants}} People</p>
      </div>
      <div *ngIf="trip.hash==='New Trip'" class="new-trip">
        <div class="claim">
          <p>Start planing</p>
          <p>your next trip</p>
        </div>
        <a [routerLink]="['/new-trip']" class="add-trip">ADD TRIP</a>
      </div>
    </ng-template>
  </p-carousel>
</section>
