#my-trips
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  app-current-trip
    width: 100%
  p-accordion
    width: 100%
    max-width: 1250px
    ::ng-deep.p-accordion-tab
      box-shadow: none
      border-top: solid 1px #d5d5d5
      margin-top: 4rem
      .p-accordion-header-text
        font-family: Radley, serif
        font-size: 2rem
        font-weight: lighter
        color: #4a4a4a



