<main id="my-trips">
  <figure>
    <img alt="On going trip image" src="http://res.cloudinary.com/thebellhop/image/upload/v1603362856/nkhnbhsufrfpdvzt6l3q.jpg">
    <figcaption>
      <p class="state">On Going</p>
      <h1>AUSTRALIA</h1>
      <p class="details">July 8th to 12th, 2021</p>
      <p class="details">2 People</p>
    </figcaption>
  </figure>
  <p-accordion [multiple]="true">
    <p-accordionTab header="Upcoming Trips" [selected]="true">
      <app-trips [trips]="upcomingTrip$ | async | unshiftFakeTrip: 'New Trip'"></app-trips>
    </p-accordionTab>
    <p-accordionTab header="Past Trips" [selected]="true">
      <app-trips [trips]="pastTrip$ | async"></app-trips>
    </p-accordionTab>
  </p-accordion>
</main>
