/* You can add global styles to this file, and also import other style files */
html
    font-family: plantinmtpro-regular,Times,serif
    font-size: 62.5%
body
  font-size: 1.4rem
  letter-spacing: .02rem

html, body
  width: 100%
